
body{
  margin-top: 40px;
  margin-bottom: 75px;
}
header {
    display: inline-flex;
    width: 100%;
    background-color: lightgrey;
    position: relative;
    padding-left: 219px;
}
nav {
    background-color: lightgrey;
    display: inline-flex;
}
header img {
    display: inline-block;
    float: left;
    padding: 10px 12px 5px 155px;
}
ul{
  padding: inherit;
}
header ul li {
    display: inline-flex;
    float: left;
    list-style: none;
    padding: 25px;
  }
  main {
      text-align: center;
      margin-right: 0;
  }
  main img{
    padding: 10px;
  }
  main ul li {
    display: inline-block;
    float: center;
    list-style: none;
    padding: 4px;
}
.section {
    position:absolute;
    display: inline-block;
    clear: both;
    height: 150px;
}
.section img {
    float: left;
    position:relative;
    padding-left: 365px;
}
.article{
  position: absolute;
  display: inline-block;
  padding-left: 20px;
}
  .article p {
    position: relative;
    overflow: scroll;
    width: 450px;
    text-align: justify;
}
.article h2{
  float:left;
  margin-top: 40px;
  margin-left:0;
}

button:hover {
  background: #383;

}
